USE [PROG260FA22]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMonsterByID]    Script Date: 11/13/2022 7:56:53 PM ******/
DROP PROCEDURE [dbo].[sp_UpdateMonsterByID]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMonsterByID]    Script Date: 11/13/2022 7:56:53 PM ******/
DROP PROCEDURE [dbo].[sp_GetMonsterByID]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMonsters]    Script Date: 11/13/2022 7:56:53 PM ******/
DROP PROCEDURE [dbo].[sp_GetAllMonsters]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMonsterByID]    Script Date: 11/13/2022 7:56:53 PM ******/
DROP PROCEDURE [dbo].[sp_DeleteMonsterByID]
GO
/****** Object:  Table [dbo].[Monsters]    Script Date: 11/13/2022 7:56:53 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Monsters]') AND type in (N'U'))
DROP TABLE [dbo].[Monsters]
GO
/****** Object:  Table [dbo].[Monsters]    Script Date: 11/13/2022 7:56:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monsters](
	[id] [int] NULL,
	[Name] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[HP] [int] NULL,
	[MP] [int] NULL,
	[Location] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Monsters] ([id], [Name], [Type], [HP], [MP], [Location]) VALUES (1, N'Bérengère', N'Gnu, brindled', 947, 117, N'TX')
INSERT [dbo].[Monsters] ([id], [Name], [Type], [HP], [MP], [Location]) VALUES (2, N'Lucrèce', N'Kelp gull', 659, 6, N'NJ')
INSERT [dbo].[Monsters] ([id], [Name], [Type], [HP], [MP], [Location]) VALUES (3, N'Médiamass', N'Cat, kaffir', 780, 167, N'OH')
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMonsterByID]    Script Date: 11/13/2022 7:56:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_DeleteMonsterByID]
	-- Add the parameters for the stored procedure here
	@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DELETE FROM [dbo].[Monsters]
	WHERE [dbo].[Monsters].id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMonsters]    Script Date: 11/13/2022 7:56:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetAllMonsters] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		SELECT [id]
			  ,[Name]
			  ,[Type]
			  ,[HP]
			  ,[MP]
			  ,[Location]
		FROM [PROG260FA22].[dbo].[Monsters]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMonsterByID]    Script Date: 11/13/2022 7:56:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetMonsterByID]
	-- Add the parameters for the stored procedure here
	@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT TOP 1 * FROM [dbo].[Monsters]
	WHERE [dbo].[Monsters].id = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMonsterByID]    Script Date: 11/13/2022 7:56:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdateMonsterByID]
	-- Add the parameters for the stored procedure here
	@ID int,
	@Name varchar(50) = null,
	@Type varchar(50) = null,
	@HP int = null,
	@MP int = null,
	@Location varchar(50) = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE [dbo].[Monsters]
	SET	[Name] =  @Name
		,[Type] = @Type
		,[HP] = @HP
		,[MP] = @MP
		,[Location] = @Location
	WHERE [id] = @ID
END
GO
