USE [PROG260FA22]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopHPMP]    Script Date: 11/20/2022 8:00:04 PM ******/
DROP PROCEDURE [dbo].[sp_GetTopHPMP]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMonsterCountByState]    Script Date: 11/20/2022 8:00:04 PM ******/
DROP PROCEDURE [dbo].[sp_GetMonsterCountByState]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMonsterCountByHP]    Script Date: 11/20/2022 8:00:04 PM ******/
DROP PROCEDURE [dbo].[sp_GetMonsterCountByHP]
GO
/****** Object:  Table [dbo].[Monsters]    Script Date: 11/20/2022 8:00:04 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Monsters]') AND type in (N'U'))
DROP TABLE [dbo].[Monsters]
GO
/****** Object:  Table [dbo].[Monsters]    Script Date: 11/20/2022 8:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monsters](
	[id] [int] NULL,
	[Name] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[HP] [int] NULL,
	[MP] [int] NULL,
	[Location] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Monsters] ([id], [Name], [Type], [HP], [MP], [Location]) VALUES (1, N'Bérengère', N'Gnu, brindled', 947, 117, N'TX')
INSERT [dbo].[Monsters] ([id], [Name], [Type], [HP], [MP], [Location]) VALUES (2, N'Lucrèce', N'Kelp gull', 659, 6, N'NJ')
INSERT [dbo].[Monsters] ([id], [Name], [Type], [HP], [MP], [Location]) VALUES (3, N'Médiamass', N'Cat, kaffir', 780, 167, N'OH')
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMonsterCountByHP]    Script Date: 11/20/2022 8:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetMonsterCountByHP] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT DISTINCT(HP), COUNT(HP)
	FROM [PROG260FA22].[dbo].[Monsters]
	GROUP BY HP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMonsterCountByState]    Script Date: 11/20/2022 8:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetMonsterCountByState]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT DISTINCT([Location]), COUNT([Location])
	FROM [PROG260FA22].[dbo].[Monsters]
	GROUP BY LOCATION
	ORDER BY LOCATION
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopHPMP]    Script Date: 11/20/2022 8:00:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetTopHPMP]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select TOP (10) MP, HP
	FROM [PROG260FA22].[dbo].[Monsters]
	Order BY HP, MP
END
GO
